.home{
    position: absolute;
    left: 100px;
    right: 100px;
}
.menu{
    position: absolute;
    padding: 30px 10px 10px 10px;
}
.img{
    height: 25px;
    left: 25px;
    margin-right: 10px;
}
.bar{
    width: 230px;
    height: 100%;
}
.a{
    text-decoration: none;
    color: #000000;
}
.a:hover {

    color: #000000; /* Цвет ссылки */

}

.li{
    display: inline-block; /* Строчно-блочный элемент */
    padding: 2px 4px; /* Поля вокруг текста */
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px; /* Скругляем уголки */
    width: 150px;
    height: 30px;
    margin-bottom: 5px;
}
.li:hover {
    text-decoration: none; /* Убираем подчёркивание */
    color: #000000; /* Цвет ссылки */
    background: #EDEEF0; /* Цвет фона */
    animation: bounce 1s;
}
@keyframes bounce {
    0%, 20%, 60%, 100% {
        transform: translateX(0);
    }

    40% {
        transform: translateX(20px);
    }

    80% {
        transform: translateX(10px);
    }
}





