.ments{
    position: absolute;
    left: 330px;
    width: auto;

    border-radius: 10px;
    display: flex;
}
.nct{

}
.nct img{
    margin-right: 30px;
    padding: 5px;
    border-radius: 10px;
    width: 90px; height: 90px;
    background-size: auto;
    background-color: white;
}
.fest img{
    border-radius: 10px;
    height: 90px;
    background-color: white;
}
