.my{
    position: absolute;
    left: 330px;
    width: 300px;
    height: auto;
}
.my-name{
    margin-top: 40px;
    width: 700px;
    height: 100px;
    background-color: #ffffff;
    padding: 5px;
    border-radius: 15px;
    display: flex;
    font-family: -apple-system,system-ui,Helvetica Neue,Roboto,sans-serif;
    align-items: center;


}
.upload-component{
    margin-top: 40px;
    width: 900px;
    height: 100px;
}
.avotar{
    width: 90px; height: 90px;
    border-radius: 50%;
    background-size: auto;
    margin-right: 10px;

}
.name{
    margin-left: 10px;
    align-items: center;
    display: flex;
}
.setting-a{
    display: block;
    text-decoration: none;
    color: #3490CE;
}
.setting{
    font-weight: 600;
    float:right;
    align-items: center;
    display: flex;
    width: 180px; height: 32px;
    padding: 4px 4px;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: #EDEEF0;
    margin-left: auto;
    margin-right: 1.3em;
}
.setting:hover {
    text-decoration: none; /* Убираем подчёркивание */
    color: #000000;
    background: #C2CDBC;

}
.my-photo-t{
    display: flex;
    width: 900px;

}
.logo{



}
.logo img{
    width: 70px;
    height: auto;
    align-items: center;
    display: block;
    margin-left: 100px;
}

.my-photo{
    margin-top: 20px;
    width: 500px;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    position: relative;
}
.photo-icon{
    align-items: center;
    display: flex;
    width: 75px; height: 32px;
    padding: 4px 4px;
    text-decoration: none;
    border-radius: 10px;
    margin-bottom: 5px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 11px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 7px 1px rgba(34, 60, 80, 0.2);
    border: 2px solid #DCE1E6;


}
.photo-icon:hover {
    text-decoration: none; /* Убираем подчёркивание */
    color: #000000;
    background: #EDEEF0;

}
.img-icon{
    height: 20px;
    left: 20px;
    margin-right: 5px;
}
.icon-a{
    text-decoration: none;
    color: gray;
    font-weight: 680;
}
.icon-a:hover{
    color: #1a202c;
}
.photo{
    margin-top: 10px;
    display: flex;
    border-radius: 10px 0px 0px 10px ;
}
.photo img{
    width: 140px;
    margin-right: 5px;
    height: auto;
    border-radius: 10px 10px 10px 10px ;
    display: flex;
}
.send{
    display: flex;
    position:relative;
    bottom:0;
    margin-bottom: 10px;
    box-sizing: border-box;
    margin-top: 20px;
}
#send-photo{
    margin-right: 30px;
}
.send-photo a{
    text-decoration: none;
    color: #346297;
    display: block;

}
.send-photo a:hover{
    text-decoration: none;
    color: #346297;
}
.send-photo{

    font-weight: 680;
    float:right;
    align-items: center;
    width: 220px; height: 32px;
    padding: 4px 4px;
    text-decoration: none;
    border-radius: 6px;
    margin-bottom: 5px;
    background-color: #EDEEF0;
    text-align: center;

}
.send-photo:hover {
    text-decoration: none; /* Убираем подчёркивание */
    color: #346297;
    background: #C2CDBC;
}

.team{
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 20px;
    background-color: white;
    width: 300px;
    height: 300px;
}
.team h4{
    margin-top: 10px;
    text-align: center;
}

