.photos{
    position: absolute;
    left: 330px;
    width: 300px;
    height: auto;
}
.photo{
    margin-top: 10px;
    display: flex;
    border-radius: 10px 0px 0px 10px ;
}
.photo img{
    width: 140px;
    margin-right: 5px;
    height: auto;
    border-radius: 10px 10px 10px 10px ;
    display: flex;
}
