
.fon {
    color: #0a58ca;
}

.conteiner {
    align-items: center;
    border: 2px solid #ced4da;
    line-height: 30px;
    font-size: 15px;
    width: 350px;
    height: auto;
background-color: black;
    margin-bottom: 200px;
    margin-top: 20px;
    border-radius: 15px;


}
.login-foto img{
}

.conteiner-register {
    align-items: center;
    border: 2px solid #ced4da;
    line-height: 30px;
    font-size: 15px;
    width: 400px;
    height: auto;
    background-color: black;
    margin-bottom: 100px;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 15px;

}

.logo-h {
    text-align: center;
    margin-top: 30px;
}

.logo-h h1{
    color: white;
}
.form {
    text-align: center;
    line-height: 30px;
}

.form-input {
    border: 1px solid #ced4da;
    border-radius: 7px;
    width: 270px;
}

.form input {
    background-color: #EBEDF0;
    border: 1px solid #D5D5D7;
    outline: 0 !important;
}

.form input:focus {
    border: 2px solid #79AEEB;
}

.checkbox {
    margin-top: 10px;
    margin-left: 35px;
}

.button {
    text-align: center;
    line-height: 50px;
}

.btn {
    display: inline-block;
    border: 1px solid red;
    padding: 10px 100px;
    background-color: #B52D2D;
    transition: all .5s;
    border-radius: 15px;
    color: white;
}

.btn:hover {
    background-color: #96002D;
}

.register {
    margin: 0 auto;
    display: block;
}

.btn-register {
    position: revert;
    display: inline-block;
    border: 1px solid red;
    padding: 10px 30px;
    background-color: #B52D2D;
    transition: all .5s;
    border-radius: 15px;
    color: white;
    height: 50px;

}

.btn-register:hover {
    background-color: #96002D;
}

.children {
    margin-top: 20px;
}
.set a{
    color: white;
}
.set a:hover{
    color: #0a58ca;
}
@media (min-width: 950px) and (max-width: 1200px) {
    .conteiner .conteiner-register {
         margin-right: 100px;
    }
}

.col-md-4{
    color: white;
}



